div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: transparent linear-gradient(#e8e8e8, #ababab);
  }

  app-box-add-event {
    margin: auto auto auto auto;
  }
