<div class="table-events">

    <div class="container">
        <table>
            <thead>
                <tr><th></th><th>Wydarzenia</th><th>Nazwa pokoju</th><th>Nazwa korporacji</th><th>Usuń</th></tr>
            </thead>
            <tbody>
                <tr *ngFor="let happening of adminHappenings">
                    <td><input type="checkbox" class="checkboxes" checked></td>
                    <td>{{happening.name}}</td>
                    <td>{{happening.room.name}}</td>
                    <td>{{happening.room.corporation.id}}</td>
                    <td><button class="btn"><i class="fa fa-trash"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="buttons">
        <div class="btn-event-actions">
            <button id="btn-del-event">
                usuń zaznaczone
            </button>
            <button id="btn-add-event"  (click)="toAddEvent()">
                dodaj wydarzenie
            </button>
        </div>
    </div>

</div>
