<div class="table-events">
    
    <div class="container">
        <table>
            <thead>
                <tr><th></th><th>Wydarzenia</th><th>Data dołączenia</th><th>Usuń</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" class="checkboxes" checked></td>
                    <td>PETC</td>
                    <td>2020.03.05</td>
                    <td><button class="btn"><i class="fa fa-trash"></i></button></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="checkboxes" checked></td>
                    <td>Obiektowe bazy danych</td>
                    <td>2020.04.08</td>
                    <td><button class="btn"><i class="fa fa-trash"></i></button></td>
                </tr>
            </tbody>    
        </table>
    </div>

    <div class="buttons">
        <div class="btn-event-actions">
            <button id="btn-del-event">
                usuń zaznaczone
            </button>
            <button id="btn-add-event"  (click)="toAddEvent()">
                dodaj wydarzenie
            </button>
        </div>
    </div>

</div>