<div class="table">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">NAME</th>
        <th scope="col">01.06.2020</th>
        <th scope="col">08.06.2020</th>
        <th scope="col">15.06.2020</th>
        <th scope="col">22.06.2020</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">220395</th>
        <td>Nieobecny</td>
        <td>Obency</td>
        <td>Obecny</td>
        <td><input type="checkbox" class="checkboxes" checked /></td>
      </tr>
      <tr>
        <th scope="row">224957</th>
        <td>Obecny</td>
        <td>Obency</td>
        <td>Obecny</td>
        <td><input type="checkbox" class="checkboxes" checked /></td>
      </tr>
      <tr>
        <th scope="row">238475</th>
        <td>Obecny</td>
        <td>Nieobecny</td>
        <td>Obecny</td>
        <td><input type="checkbox" class="checkboxes" checked /></td>
      </tr>
      <tr>
        <th scope="row">238472</th>
        <td>Obecny</td>
        <td>Obency</td>
        <td>Nieobecny</td>
        <td><input type="checkbox" class="checkboxes" checked /></td>
      </tr>
      <tr>
        <th scope="row">238479</th>
        <td>Obecny</td>
        <td>Obency</td>
        <td>Obecny</td>
        <td><input type="checkbox" class="checkboxes" checked /></td>
      </tr>
    </tbody>
  </table>
</div>
