.table {
  padding: 2em;
  margin: 2em;
  justify-self: center;
  height: 85%;
  width: 65%;
  min-width: 30em;
  background: white;
  border: 0.1em;
  border-style: solid;
  border-radius: 0.5em;
  border-color: rgb(150, 150, 150);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.384);
}
