<div class="table-events">
    <div id ="form">
        <h1><strong>Dodaj wydarzenie</strong></h1><br>
        <div>
            <label for="name">Nazwa</label><br>
            <input type="text" id="name" [(ngModel)]="name"><br>

            <label for="category">Kod</label> <br>
            <input type="text" id="name" [(ngModel)]="code"><br>

            <label for="group">Pokój</label><br>
            <select name="group" id="group" [(ngModel)]="roomId"><br>
                <option *ngFor="let room of rooms" [value]="room.roomId">{{room.name}}</option>
            </select><br>

            <br>
            <input id = "btn-add-event" type="submit" value="Dodaj" (click)="addEvent()" [disabled]="loading">
        </div>
        <a [routerLink]="['/createEvent']"> Powrót </a>
    </div>
</div>
