<div class="con">
  <div class="box">
    <div class="code">
      <input placeholder="Your event code">
      <button>Dołącz</button>
    </div>
    <div class="events">
      <table>
        <thead>
          <tr>
            <th>Wydarzenia w okolicy</th>
            <th>Poproś o dostęp</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Peitc - politechnika</td>
            <td><button class="btn"><i class="fa fa-plus"></i></button></td>
          </tr>
          <tr>
            <td>Peitc - politechnika</td>
            <td><button class="btn"><i class="fa fa-plus"></i></button></td>
          </tr>
          <tr>
            <td>Peitc - politechnika</td>
            <td><button class="btn"><i class="fa fa-plus"></i></button></td>
          </tr>
          <tr>
            <td>Peitc - politechnika</td>
            <td><button class="btn"><i class="fa fa-plus"></i></button></td>
          </tr>
          <tr>
            <td>Peitc - politechnika</td>
            <td><button class="btn"><i class="fa fa-plus"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
