<div class="content">
  <div class="container-fluid">
    <div class="row align-items-center" style="height: 100%;">
        <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3  col-xl-4 offset-xl-4 loginForm">
            <div class="logo">
                <img src="../../assets/logo.png" alt="LOGO"/>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="emailBox">
                    <label>Pass your email:</label>
                    <input id="email" formControlName="email" type="email" placeholder="email" required>
                </div>
                <div class="passwordBox">
                    <label>Pass your password:</label>
                    <input formControlName="password" type="password" placeholder="password" required>
                    <br>
                </div>

                <input id="submit" type="submit" value="Log in" [disabled]="loading">
            </form>
            <button id="registerButton" (click)="toRegister()">Register</button>
        </div>
    </div>
  </div>
</div>

