<div class="menu-selection">
  <div class="dropdown">
    <button class="btn-full btn-outline-info btn">PEITC</button>
    <button class="btn-full btn-outline-info btn">XD</button>
  </div>
  <div class="menu-btn">
    <button class="btn-event" [routerLink]="['/joinToEvent']">
      <!--<img src="../../../assets/join.svg" alt="+" />-->
      Dołącz do wydarzenia
    </button>

    <button class="btn-event" [routerLink]="['/addEvent']">
      <!--<img src="../../../assets/plus.svg" alt="+" />-->
      Nowe wydarzenie
    </button>

    <button class="btn-event" [routerLink]="['/myEvents']">
      <!--<img src="../../../assets/plus.svg" alt="+" />-->
      Moje wydarzenie
    </button>

    <button class="btn-event" [routerLink]="['/rooms']">
      <!--<img src="../../../assets/join.svg" alt="+" />-->
      Zarządzaj pokojami
    </button>
  </div>
</div>
