.menu-selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  margin: 2em;
  justify-self: center;
  height: 90%;
  width: 90%;
  min-width: 15em;
  background: white;
  border: 0.1em;
  border-style: solid;
  border-radius: 0.5em;
  border-color: rgb(150, 150, 150);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.384);
  .dropdown {
    display: block;
    .btn {
      margin-bottom: 0.2em;
    }
  }
  .btn-full {
    margin: auto;
    width: 100%;
  }
  .menu-btn {
    align-self: center;
    width: 100%;
    max-width: 20em;

    .btn-event {
      justify-self: center;
      line-height: 2em;
      width: inherit;
      color: white;
      background: #486dc5;
      border-color: #1e3cff;
      border-style: solid;
      border: 0.2em;
      border-radius: 0.4em;
      font-size: 1em;
      margin-top: 0.3em;
      margin-bottom: 0.3em;
      padding: 0.3em;

      &:hover {
        background: rgb(69, 93, 150);
        font-size: 1.05em;
      }
    }
  }
}
