// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ResQuad-primary: mat-palette($mat-indigo);
$ResQuad-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ResQuad-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ResQuad-theme: mat-light-theme(
  $ResQuad-primary,
  $ResQuad-accent,
  $ResQuad-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ResQuad-theme);

$xs: "only screen and (max-width : 576px)";
$sm: "only screen and (max-width : 768px)";
$md: "only screen and (max-width : 992px)";
$background: transparent linear-gradient(#e8e8e8, #ababab);

html {
  height: 100%;

  body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
}

@mixin box-style() {
  background-color: white;
  border: 0.1em;
  border-style: solid;
  border-radius: 1em;
  border-color: #969696;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.384);
}

@mixin button {
  justify-self: center;
  color: white;
  background: #486dc5;
  border-color: #1e3cff;
  border-style: solid;
  border: 0.2em;
  border-radius: 0.8em;
  font-size: 1rem;
  padding: 0.3em;

  &:hover {
      background: rgb(69, 93, 150);
    }
}
