<div class="header">
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="../../assets/logo.png" alt="LOGO" />
    </a>
    <h1>Hi, example!</h1>
  </div>


  <div>
    <a style="font-size: 30px; color: red;" [routerLink]="['/rooms']">Rooms</a>
  </div>




  <div class="account">
    <button class="account-image">
      <img src="../../assets/account.svg" alt="account" />
    </button>
    <div class="account-content">
      <button>Settings</button>
      <a (click)="logout()">Logout</a>
    </div>
  </div>
</div>
