<div class="header">
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="../../assets/logo.png" alt="LOGO" />
    </a>
    <h1>Hi, {{ userName }}!</h1>
  </div>

  <div class="account">
    <button class="account-image">
      <img src="../../assets/account.svg" alt="account" />
    </button>
    <div class="account-content">
      <a (click)="logout()">Logout</a>
      <a>
        Choose Corporation
        <div id="sels" class="sel">
          <select
            (change)="updateCorporation($event.target.value)"
            [value]="corporations[1]"
            ><br />
            <option
              *ngFor="let corporation of corporations"
              [value]="corporation.id"
              >{{ corporation.name }}</option
            >
          </select>
        </div>
      </a>
    </div>
  </div>
</div>
